/* Hero.module.css */

.iphoneXFix {
    /* Default fallback for spacing */
    padding-bottom: env(safe-area-inset-bottom, 20px);
}

/* iPhone X, 11 Pro, 13 Mini, etc. */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .iphoneXFix {
        margin-bottom: 80px !important;
    }
}

/* for hero section in safari browser absolute bottom positoin  */
@media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
        /* Safari-only override */
        /* safari:bottom-6 */
        .safari\:bottom-6 {
            bottom: 10px !important; /* Tailwind's bottom-6 = 1.5rem */
        }
        .safari\:m-top-6 {
            margin-top: 10px !important ;
        }
    }
}
