@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    --webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-snap-type: y mandatory;
}

body {
    background: black;
    width: 100%;
    height: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    color: #dbfd01 !important;
}

/* Tailwind-style override for iPhone fix */
body.iphone-bottom-fix .iphone\:mb-\[60px\] {
    margin-bottom: 60px !important;
}

:root {
    --vh: 1vh;
}

@media (max-width: 639px) {
    footer {
        height: var(--app-height);
        max-height: var(--app-height);
    }
}

@layer utilities {
    .backface-hidden {
        backface-visibility: hidden;
    }

    .rotateY-180 {
        transform: rotateY(180deg);
    }

    .transform-style-preserve-3d {
        transform-style: preserve-3d;
    }

    .perspective-1000 {
        perspective: 1000px;
    }
}
